.tooltip {
    position: absolute;
    padding: 6px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    pointer-events: none;
  }

  /* Add CSS styles for the grey background bars */
  .background-bar {
    fill: #f0f0f0;
  }
  div.content_et_infos {
    height: 100vh;
}
  #chart {
    width: 100%;
    height: 100%;
    transition: .5s;
}

#bg-modal{
  background-color: rgba(255, 255, 255, 0.491);
  position: absolute;
  height: 100vh;
  width: 100%;
  display: none;
}
div#modal{
  position: absolute;
  margin: 3%;
  border-radius: 15px;
  padding: 20px;
  background-color: rgb(255, 207, 179);
}