.tooltip {
    position: absolute;
    padding: 6px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    pointer-events: none;
  }

  /* Add CSS styles for the grey background bars */
  .background-bar {
    fill: #f0f0f0;
  }
  div.column {
    height: 100vh;
}
  #chart {
    width: 100%;
    height: 100%;
    transition: .5s;
}