@import "https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css";
.navbar-item img {
    max-height: 3.75rem !important;
}

.navbar {
    min-height: 3.75rem !important;
}

.navbar-burger {
    height: 4.25rem;
    width: 4.25rem;
}

.navbar-dropdown {
    background-color: black;
  }