#chart {
    width: 100%;
    height: 100%;
    transition: .5s;
}

div.content_et_infos {
    height: 100vh;
}

div.card#informations{
    transition: .5s;
    position: absolute;
    max-width: 22%;
}

.progress{
    transition: .5s;
}

#tooltip {
position: absolute;
background: #fff;
border: 1px solid #ddd;
padding: 5px;
visibility: hidden;
}

table, #tooltip table {
    border-collapse: separate;
    border-spacing: 10px 0px;
}

table th, #tooltip table th {
        text-align: right;
        white-space: nowrap;
}

svg {
    width: 100%;
    height: 100%;
}

div.tooltip {
position: absolute;
background: #fff;
border: 1px solid #ddd;
padding: 5px;
visibility: hidden;
}

    