<img src="/static/images/logo.jpeg" alt="Logo" class="image is-128x128">

<p class="menu-label">
  <a href="/">Accueil</a>
</p>

<p class="menu-label">
  Budget
</p>

<ul class="menu-list">
  <li><a href="/sunburst?budget_previ=1">Budget prévisionnel</a></li>
  <li><a href="/sunburst?debut=01/08/2023">Dépenses de l'année en cours</a></li>
  <li><a href="/sunburst?debut=01/08/2022&fin=31/07/2023">Compta de l'an passé</a></li>
  <li><a href="/stackbar?debut=01/08/2023">Jauge des dépenses de l'année en cours</a></li>
  <li><a href="/stackbar?debut=01/08/2022&fin=31/07/2023">Jauge des dépenses de l'an passé</a></li>
</ul>