<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    {% block head  %}
    {% endblock   %}
  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="content_et_infos">
              {% block info %}
              {% endblock %}
      
        {%block content%}
        {%endblock%}
        
        <footer class="footer">
          <div class="content has-text-centered">
            <p>
              <strong>BudgetXP</strong> Développé avec <coeur style="color: red;">♡</coeur> et 😠 par <a href="https://github.com/orgs/Lycee-Experimental/teams/les-codeureuses-du-lxp">Les codeur.euse.s du LXP</a> - 2023. 
            </br>
              Ce code est open-source, vous pouvez le retrouver sur <a href="https://github.com/Lycee-Experimental/budget-lxp">GitHub</a>.
            </p>
          </div>
        </footer>
      </div>
      
    {% block extrajs %}
    {% endblock %}
  </body>
</html>

