<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <title>Dashboard</title>
  <style>
    .animated-button {
      transform: scale(1);
      transition: transform 0.2s;
      width: 100%;
    }

    .animated-button:hover {
      transform: scale(1.2);
    }

    .buttons-container {
      display: flex;
      justify-content: center;
    }

    .buttons-container .button {
      flex: 0 0 200px; /* Fixed width for the buttons */
      margin: 5px 10px; /* Increase the horizontal margin */
    }
  </style>
</head>
<body>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Budget-LXP</h1>
        <div class="buttons-container">
          <a href="/camembert" class="button is-primary is-large animated-button">
            Camembert
          </a>
          <a href="/sunburst" class="button is-warning is-large animated-button">
            Sunburst
          </a>
        </div>
      </div>
    </div>
  </section>

  <script>
    const buttons = document.querySelectorAll('.animated-button');
    buttons.forEach(button => {
      button.addEventListener('mouseover', () => {
        button.classList.add('animated-button');
      });

      button.addEventListener('mouseout', () => {
        button.classList.remove('animated-button');
      });
    });
  </script>
</body>
</html>

