

<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/static/images/logo.jpeg" width="60" height="60">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Accueil
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Budget
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/budget/sunburst?budget_previ=1">
              Budget prévisionnel
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/budget/sunburst?debut=01/08/2023">
              Dépenses 2023/2024
            </a>
            <a class="navbar-item" href="/budget/sunburst?debut=01/08/2022&fin=31/07/2023">
              Dépenses 2022/2023
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/budget/stackbar?debut=01/08/2023">
              Baromètre 2023/2024
            </a>
            <a class="navbar-item" href="/budget/stackbar?debut=01/08/2022&fin=31/07/2023">
              Baromètre 2022/2023
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Elèves
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/eleves/pronoms">
              Stats pronoms
            </a>
            <hr class="navbar-divider">
          </div>
        </div>
      </div>

    </div>
  </nav>

  <script src="/static/js/navbar.js"></script>
