

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="/static/images/logo.jpeg" width="28" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Accueil
        </a>
  
        <a class="navbar-item">
          Documentation
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Budget
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="http://localhost:5000/sunburst?budget_previ=1">
              Budget prévisionnel
            </a>
            <a class="navbar-item" href="/sunburst?debut=01/08/2023">
              Dépenses de l'année en cours
            </a>
            <a class="navbar-item" href="/sunburst?debut=01/08/2022&fin=31/07/2023">
              Compta de l'année passée
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/stackbar?debut=01/08/2023">
              Jauge des dépenses de l'année en cours
            </a>
            <a class="navbar-item" href="/stackbar?debut=01/08/2022&fin=31/07/2023">
                Jauge des dépenses de l'an passé
              </a>
          </div>
        </div>
      </div>

    </div>
  </nav>

  <script src="/static/js/navbar.js"></script>
