{% extends 'base.html' %}

{% block head %}
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="/static/css/stackbars.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block content %}
<center>
    <div id="bg-modal">
        <div id="modal" class="card">
            <div id="modal-close"><p>fermer le modal</p></div>
            <div id="content-modal" class="card-content"></div>
        </div>
    </div>
</center>
<div id="chart"></div>
{% endblock %}
    
{% block extrajs %}
<script src="/static/js/stackbars.js"></script>
{% endblock %}